body {
    background-image: url(SWIATELGA[blur].jpg);
    background-size: cover;
    overflow: hidden;
}

@keyframes sniezka {
    0% {top: -300px;
    font-size: 200px}
    25% {left: 400px}
    50% {left: 700px}
    75% {left: 500px}
    100% {top: 1200px;
    font-size: 100px}
}

#sniezka {
    position: fixed;
    color: white;
    left: 170px;
    font-size: 200px;
    backgorund-color: red;
    animation: sniezka 15s infinite;
}

@keyframes sniezka2 {
    0% {top: -300px;
        font-size: 200px}
    25% {left: 20px}
    50% {left: 20px}
    75% {left: 50px}
    100% {top: 1200px;
        font-size: 70px}
}

#sniezka2 {
    position: fixed;
    color: white;
    left: 770px;
    font-size: 200px;
    backgorund-color: red;
    animation: sniezka2 7s infinite;
}

@keyframes sniezka3 {
    0% {top: -300px;
        font-size: 200px}
    25% {left: 200px}
    50% {left: 300px}
    75% {left: 700px}
    100% {top: 1200px;
        font-size: 90px}
}

#sniezka3 {
    position: fixed;
    color: white;
    left: 470px;
    font-size: 200px;
    backgorund-color: red;
    animation: sniezka3 9s infinite;
}

@keyframes sniezka4 {
    0% {top: -300px;
        font-size: 200px}
    25% {left: 100px}
    50% {left: 900px}
    75% {left: 300px}
    100% {top: 1200px;
        font-size: 200px}
}

#sniezka4 {
    position: fixed;
    color: white;
    left: 1070px;
    font-size: 200px;
    backgorund-color: red;
    animation: sniezka4 7s infinite;
}

#bankazlt {
    position: absolute;
    margin-top: -200px;
    right: 20px;
}

#bankaczw {
    position: absolute;
    margin-top: -405px;
}

#banka {
    position: absolute;
    margin-top: -500px;
    margin-left: 400px;
}

#choinka {
    position: absolute;
    right: 0;
    bottom: -460px;
}

#kartka {
    position: absolute;
    width: 550px;
    height: 750px;
    background-color: #ff3636;
    top: 35px;
    left: 365px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: white;
    align-content: center;
    font-weight: bold;
    opacity: 0;
}

#kartka2 {
    position: absolute;
    width: 600px;
    height: 800px;
    background-color: #b00000;
    top: 35px;
    left: 365px;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    opacity: 0;
}