body {
    background-image: url(SWIATELGA[blur].jpg);
    background-size: cover;
    overflow: hidden;
}

#bankazlt {
    position: absolute;
    margin-top: -200px;
    right: 20px;
}

#sniezka, #sniezka2, #sniezka3, #sniezka4 {
    position: absolute;
    color: white;
    top: -220px;
    left: 170px;
    font-size: 200px;
}

#bankaczw {
    position: absolute;
    margin-top: -400px;
}

#banka {
    position: absolute;
    margin-top: -500px;
    margin-left: 400px;
    cursor: pointer;
}

#choinka {
    position: absolute;
    right: 0;
    bottom: -460px;
}